<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    padding: 0;
    margin: 0;
}

h1{
    color: green;
    padding: 3rem;
    font-size: 2.5rem;
    font-family: 'Prompt', sans-serif;
}
input{
    min-width: 600px;
    height: 2.5rem;
    border-radius: 10px 0 10px 0;
    border:solid 2px rgb(37, 165, 37);
    color: rgb(238, 93, 40);
    padding-left: 1rem;
    font-size: 1.2rem;
    outline: none;
}
button{
    min-width: 60px;
    height: 2.3rem;
    border-radius: 10px 0 0px 0;
    background-color: rgb(84, 216, 84);
    border:solid 2px green;
    color: rgb(12, 12, 12);
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    font-weight:bolder ;
    outline: none;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    body{ 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        background: grey; 
        padding-top: 20px;
        background-image: url("https://pbs.twimg.com/media/E3_guXtX0AUihWN.jpg");
      }
       .card{
      margin-top: 50px;
      background: #17141d;
      background:rgb(164, 232, 232);
      color:rgb(238, 77, 19);

      display: grid;
      grid-template-columns: 200px;
      grid-template-rows: 30px 100px 80px;
      grid-template-areas: "image" "text" "bottom";
      font-family: roboto;
      border-radius: 18px;
      box-shadow: -1rem 0 3rem #000;
      text-align: center;
      overflow: hidden;
      transition: all 0.8s ease;
      } 
    
      .card-discription{
        grid-area: text;
        font-size: 150%;
        padding: 0 5px 0 5px;
        font-family: roboto;
        margin-top: -10px;
        align-self: center;
      }
      
      .card:hover{
        transform: translateY(-1.5rem);
      }
      .card:hover~.card{
        transform: translateX(70px);
      }
      .card:not(:first-child){
        margin-left: -50px;
      } 
    </style>
</head>
<body>
    <form action="/update/todo/<%= data.id%>" method="POST" autocomplete="off" >
        <input type="text" value="<%= data.todo%>" name="todo">
        <button type="submit">Submit</button>
    </form>
</body>
</html>